---
import Section from "@/components/Section.astro";
import { basics } from "@cv";
const { summary } = basics;
---

<!-- <h2>About</h2> -->
<Section title="Acerca de">
    <p>{summary}</p>
</Section>

<style></style>
