---
import Section from "@/components/Section.astro";
---

<!-- <h2>Education</h2> -->
<Section title="Education">
    <div class="container"></div>
</Section>
<!-- igual que la experiencia -->
<style></style>
