---
import AboutPro from "@/components/sectionsProject/about_pro.astro";
import LayoutProject from "@/layouts/LayoutProject.astro";
---

<LayoutProject title="innerYho Portafolio">
	<main>
		<AboutPro />
		<!-- <Hero />
		<Experience />
		<Education />
		<Projects />
		<Skills /> -->
	</main>
</LayoutProject>

<style>
	main {
		padding: 4rem;
		margin: auto;
		width: 100%;
	}
</style>
