---
import Layout from "@/layouts/Layout.astro";
// import LayoutProject from "@/layouts/LayoutProject.astro";
// layout: "@/layouts/Layout.astro";

Title: "sisi";
---

<Layout title="Proj">
	<main>
		<h2>Projectos</h2>
		<a href="/">Inicio</a><a href="/projects">Funciona</a>
	</main>
</Layout>
<style>
	main {
		padding: 4rem;
		margin: auto;
		width: 100%;
	}
</style>
