---
import AboutPro from "@/components/sectionsProject/about_pro.astro";
import Layout from "@/layouts/Layout.astro";
// import LayoutProject from "@/layouts/LayoutProject.astro";
// layout: "@/layouts/Layout.astro";

Title: "sisi";
---

<Layout title="Proj">
	<main>
		<h2>Projectos</h2>
		<a href="/">Inicio</a><a href="/projects">Funciona</a>
	</main>
</Layout>
<!-- <LayoutProject title="innerYho Portafolio">
	<main>
		<AboutPro /> -->
<!-- <Hero />
		<Experience />
		<Education />
		<Projects />
		<Skills /> -->
<!-- </main>
</LayoutProject> -->

<style>
	main {
		padding: 4rem;
		margin: auto;
		width: 100%;
	}
</style>
