---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Dogs">
    <main>
        <h1>Dog Index</h1>
        <!-- <a href="/projectSections/tbo">The best option</a>
        <a href="/projectSections/carecare">care&care</a>
        <a href="/projectSections/velada">La velada del año</a> -->
        <a href="dog">Dogs</a>
    </main>
</Layout>
