---
import Section from "@/components/Section.astro";
import { basics, projects } from "@cv";
// const { summary } = basics;
// const {description} = projects;
---

<!-- <h2>About</h2> -->
<Section title="Acerca de" />
<p></p>
<style></style>
